<a-popover title="Add category" trigger="click" placement="rightBottom">
  <template slot="content" v-if="showForm">
    <a-form :form="form" @submit="handleItemSubmit" layout="inline">
      <a-row>
        <a-form-item label="Name">
          <a-input v-decorator="formData.name" />
        </a-form-item>
      </a-row>
      <a-row>
        <a-form-item required label="Slug" class="input-slug">
          <a-input v-decorator="formData.slug" placeholder="Slug">
            <span class="generateSlug" @click="generateSlug('name')" slot="addonBefore">Generate</span>
          </a-input>
        </a-form-item>
      </a-row>
      <a-row>
        <a-form-item>
          <a-button type="primary" html-type="submit" :disabled="hasErrors(form.getFieldsError())">
            Save
          </a-button>
        </a-form-item>
      </a-row>
    </a-form>
  </template>
  <template slot="content" v-if="!showForm">
    Select a Category.
  </template>
  <a-button type="primary" size="small" :disabled="!showForm" ghost>
    <a-icon type="plus" />
  </a-button>
</a-popover>
