<template>
    <div style="line-height: initial;"></div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import TuiEditor from "tui-editor";
import "codemirror/lib/codemirror.css";
import "tui-editor/dist/tui-editor.css";

@Component
export default class Editor extends Vue {
    public TuiEditor: any = TuiEditor;
    public editor: any;
    @Prop({ default: "300px" })
    public height!: string;
    @Prop({ default: false })
    public viewer!: boolean;
    @Prop()
    value: string;
    public count: number = 0;

    public mounted() {
        this.editor = this.TuiEditor.factory({
            el: document.querySelector(`#${this.$el.id}`),
            viewer: this.viewer,
            height: this.height
        });
        this.editor.on("change", () => {
            this.count++;
            console.log(this.editor.getValue(), 'ddsds');
            if (this.count > 1)
                this.$emit("change", this.editor.getValue());
        });
    }

    @Watch("value")
    public onChildChanged(val: string) {
        this.editor.setValue(val);
    }
}
</script>
