<div>

    <a-form  :form="form">
        <a-row :gutter="15">
            <a-col :span="16">
                <div class="box">
                    <a-form-item label="Name">
                        <a-input v-decorator="formData.name" placeholder="Name" />
                    </a-form-item>
                    <a-form-item required label="Slug" class="input-slug">
                        <a-input v-decorator="formData.slug" placeholder="Slug">
                            <span class="generateSlug" @click="generateSlug('name')" slot="addonBefore">Generate</span>
                        </a-input>
                    </a-form-item>
                    <a-form-item label="Content">
                        <a-editor v-decorator="formData.content"/>
                    </a-form-item>
                    <a-collapse>
                        <a-collapse-panel header="Meta tags" key="1">
                            <a-form-item label="Meta title">
                                <a-input v-decorator="formData.meta_title" placeholder="Meta title" />
                            </a-form-item>
                            <a-form-item label="Meta description">
                                <a-input v-decorator="formData.meta_description" placeholder="Meta description" />
                            </a-form-item>
                        </a-collapse-panel>
                        <a-collapse-panel header="Facebook tags" key="2">
                            <a-form-item label="Facebook title">
                                <a-input v-decorator="formData.og_title" placeholder="Meta title" />
                            </a-form-item>
                            <a-form-item label="Facebook description">
                                <a-input v-decorator="formData.og_description" placeholder="Meta description" />
                            </a-form-item>
                            <a-form-item label="Facebook type">
                                <a-input v-decorator="formData.og_type" placeholder="Meta type" />
                            </a-form-item>
                        </a-collapse-panel>
                    </a-collapse>
                    <br>
                    <action-buttons @back="back" @submit="submit"></action-buttons>
                </div>

            </a-col>
            <a-col :span="8">
                <div class="box">

                    <a-form-item label="Thumbnail">
                        <file-chooser v-decorator="formData.thumbnail"></file-chooser>
                    </a-form-item>
                    <a-form-item label="Gallery">
                        <file-chooser v-decorator="formData.gallery"></file-chooser>
                    </a-form-item>
                </div>
            </a-col>
        </a-row>

    </a-form>
</div>