<div>
  <div class="box">
    <a-row :gutter="15">
      <a-col :span="6">
        <a-input-search placeholder="search..." class="width-100" @search="onSearch" v-model="searchInput" />
      </a-col>
      <a-col :offset="12" :span="6">
        <router-link class="add-resource" :to="{name: 'blog.posts.create'}">
          <a-button type="primary">
            <b>Create post</b>
          </a-button>
        </router-link>
      </a-col>
    </a-row>
    <a-table :pagination="pagination" :loading="loading" rowKey="_id" :columns="columns" :dataSource="items"
      @change="handleTableChange">
      <span slot="title" slot-scope="record">
        <a href="#" @click.prevent="goToEdit(record._id)"> {{ record.title }} </a>
      </span>
      <span slot="category" slot-scope="record">
        <a href="#" @click.prevent="goToEdit(record._id)"> {{ record.category ? record.category.name : '' }} </a>
      </span>
      <span slot="createdAt" slot-scope="record">
        <a href="#" @click.prevent="goToEdit(record._id)"> {{ record.createdAt | formatDate}} </a>
      </span>
      <span slot="actions" slot-scope="record">
        <actions @edit="goToEdit(record._id)" @deleteItem="deleteItem(record._id)"></actions>
      </span>
    </a-table>
  </div>

</div>