<template>
    <div class="permission__wrapper">
        <h3>
            <b>{{ item.label }}</b>
        </h3>
        <div class="permission__item select">
            <span class="permission__item-label">Select all:</span>
            <a-radio-group @change="selectAll" buttonStyle="solid">
                <a-radio-button :value="2">Allow</a-radio-button>
                <a-radio-button :disabled="inRole" :value="0">Inherit from role</a-radio-button>
                <a-radio-button :value="1">Forbide</a-radio-button>
            </a-radio-group>
        </div>
        <div class="permission__item">
            <span class="permission__item-label">Index:</span>
            <a-radio-group
                @change="itemChanged($event, 'index')"
                :value="item.index"
                buttonStyle="solid"
            >
                <a-radio-button :value="2">Allow</a-radio-button>
                <a-radio-button :disabled="inRole" :value="0">Inherit from role</a-radio-button>
                <a-radio-button :value="1">Forbide</a-radio-button>
            </a-radio-group>
        </div>
        <div class="permission__item">
            <span class="permission__item-label">Create:</span>
            <a-radio-group
                @change="itemChanged($event, 'create')"
                :value="item.create"
                buttonStyle="solid"
            >
                <a-radio-button :value="2">Allow</a-radio-button>
                <a-radio-button :disabled="inRole" :value="0">Inherit from role</a-radio-button>
                <a-radio-button :value="1">Forbide</a-radio-button>
            </a-radio-group>
        </div>
        <div class="permission__item">
            <span class="permission__item-label">Edit:</span>
            <a-radio-group
                @change="itemChanged($event, 'edit')"
                :value="item.edit"
                buttonStyle="solid"
            >
                <a-radio-button :value="2">Allow</a-radio-button>
                <a-radio-button :disabled="inRole" :value="0">Inherit from role</a-radio-button>
                <a-radio-button :value="1">Forbide</a-radio-button>
            </a-radio-group>
        </div>
        <div class="permission__item">
            <span class="permission__item-label">Update:</span>
            <a-radio-group
                @change="itemChanged($event, 'update')"
                :value="item.update"
                buttonStyle="solid"
            >
                <a-radio-button :value="2">Allow</a-radio-button>
                <a-radio-button :disabled="inRole" :value="0">Inherit from role</a-radio-button>
                <a-radio-button :value="1">Forbide</a-radio-button>
            </a-radio-group>
        </div>
        <div class="permission__item">
            <span class="permission__item-label">Delete:</span>
            <a-radio-group
                @change="itemChanged($event, 'delete')"
                :value="item.delete"
                buttonStyle="solid"
            >
                <a-radio-button :value="2">Allow</a-radio-button>
                <a-radio-button :disabled="inRole" :value="0">Inherit from role</a-radio-button>
                <a-radio-button :value="1">Forbide</a-radio-button>
            </a-radio-group>
        </div>
        <a-divider></a-divider>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Radio } from "ant-design-vue";
import ModulePermissionInterface from "../interfaces/ModulePermissionInterface";
@Component({
    components: {
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
    },
})
export default class PermissionItem extends Vue {
    @Prop() public item!: ModulePermissionInterface;
    @Prop() public inRole!: boolean;

    public itemChanged(e, action) {
        this.$emit("change", {
            parent: this.item.name,
            action,
            value: e.target.value,
        });
    }

    public selectAll(e) {
        const value = e.target.value;
        this.$emit("change", {
            parent: this.item.name,
            value: e.target.value,
        });
    }
}
</script>

<style lang="less" scoped>
.permission {
    &__item {
        margin-bottom: 10px;
        &.select {
            margin-bottom: 20px;
        }
    }
    &__item-label {
        min-width: 70px;
        display: inline-block;
    }
}
    .ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
        border-color: #d9d9d9;
        background-color: #f5f5f5;
        color: rgba(0, 0, 0, 0.25);
    }
</style>
