<template>
<div>
    <img @click="modalVisible=true" class="max-50 cursor-pointer" v-bind:src="`${$fs.getFilePathThumb(fileObject)}`">
    <a-modal class="image-modal" :footer="null" title="Preview" v-model="modalVisible">
        <img class="img-fluid" v-bind:src="`${$fs.getFilePathThumb(fileObject)}`">
    </a-modal>
</div>
</template>

<script lang="ts">
import {
    Component,
    Vue,
    Prop,
} from "vue-property-decorator";
import _isEmpty from 'lodash/isEmpty';
import _get from 'lodash/get';
import { Modal } from 'ant-design-vue';
Vue.use(Modal);
@Component
export default class FileThumbLink extends Vue {

    @Prop() public fileObject!: object;

    public modalVisible: boolean = false;

    get hasFilename() {
        return !_isEmpty(_get(this.fileObject, 'filename', null));
    }
}
</script>

<style lang="less">
.max-50 {
    max-width: 50px;
    height: auto;
}
.image-modal {
    text-align: center;
}
</style>
