<template>
    <div class="media-tree">
        <div class="header">
            <b>Folders</b>
        </div>
        <a-tree
            showLine
            v-if="dataLoaded"
            :defaultExpandAll="true"
            @select="onSelect"
            :treeData="treeData"
        />
    </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import fs from "@/libs/fs.ts";
import { Tree } from "ant-design-vue";
@Component({
    components: {
        "a-tree": Tree
    }
})
export default class MediaTree extends Vue {
    private $axios;
    public treeData: any[] = [];
    public dataLoaded: boolean = false;
    public checkedKeys: [] = [];

    public async fetchTreeData() {
        const res = await this.$axios.get(
            `${process.env.VUE_APP_APIURL}/media/filesystem/index`
        );
        this.treeData = res.data;
        this.dataLoaded = true;
    }
    public onSelect(keys: any, info: any) {
        this.$store.commit(
            "media/setPath",
            fs.getPathFromObject(info, "node.dataRef.data.path_relative")
        );
        this.$store.dispatch('media/getFiles');
    }

    mounted() {
        this.fetchTreeData();
    }
}
</script>

