<div>
    <a-tabs defaultActiveKey="1">
        <a-tab-pane tab="Data" key="1">
            <a-form :form="form">
                <a-row :gutter="15">
                    <a-col :span="16">
                        <div class="box">
                            <a-form-item label="Firstname">
                                <a-input v-decorator="formData.firstname" placeholder="Please input your firstname" />
                            </a-form-item>
                            <a-form-item label="Lastname">
                                <a-input v-decorator="formData.lastname" placeholder="Please input your lastname" />
                            </a-form-item>
                            <a-form-item label="Email">
                                <a-input type="email" v-decorator="formData.email"
                                    placeholder="Please input your email" />
                            </a-form-item>
                            <a-form-item label="Password">
                                <a-input type="password" v-decorator="formData.password"
                                    placeholder="Please input your password" />
                            </a-form-item>
                            <a-form-item label="Password confirm">
                                <a-input type="password" v-decorator="formData.password_confirm"
                                    placeholder="Please confirm your password" @blur="handleConfirmBlur" />
                            </a-form-item>

                            <action-buttons @back="back" @submit="submit"></action-buttons>
                        </div>

                    </a-col>
                    <a-col :span="8">
                        <div class="box">

                            <a-form-item label="Thumbnail">
                                <file-chooser v-decorator="formData.thumbnail"></file-chooser>
                            </a-form-item>
                            <a-form-item label="Role">
                                <a-select v-decorator="formData.role" placeholder="Role">
                                    <a-select-option v-for="item in roles" :key="item._id" :value="item._id">
                                        {{ item.name }}
                                    </a-select-option>
                                </a-select>
                            </a-form-item>
                        </div>
                    </a-col>
                </a-row>

            </a-form>
        </a-tab-pane>
        <a-tab-pane forceRender tab="Permissions" key="3">
            <a-form :form="form">
                <div class="box">
                    <a-form-item>
                        <permission v-decorator="formData.permissions"></permission>
                    </a-form-item>
                    <action-buttons @back="back" @submit="submit"></action-buttons>
                </div>
            </a-form>
        </a-tab-pane>
    </a-tabs>
</div>