<div>

    <div class="box">
      <a-row :gutter="15">
        <a-col :span="6">
          <a-input-search placeholder="search..." class="width-100" @search="onSearch" v-model="searchInput" />
        </a-col>
        <a-col :offset="12" :span="6">
          <router-link class="add-resource" :to="{name: 'user.users.create'}">
            <a-button type="primary">
              <b>Create User</b>
            </a-button>
          </router-link>
        </a-col>
      </a-row>
  
      <a-table :pagination="pagination" :loading="loading" rowKey="_id" :columns="columns" :dataSource="items" @change="handleTableChange">
        <span slot="name" slot-scope="record">
            <a href="#" @click.prevent="goToEdit(record._id)"> {{ record.firstname }} {{ record.lastname }} </a>
        </span>
        <span slot="email" slot-scope="record">
            <a href="#" @click.prevent="goToEdit(record._id)"> {{ record.email }} </a>
        </span>
        <span slot="createdAt" slot-scope="record">
            <a href="#" @click.prevent="goToEdit(record._id)"> {{ record.createdAt | formatDate}} </a>
        </span>
        <span slot="actions" slot-scope="record">
          <actions @edit="goToEdit(record._id)" @deleteItem="deleteItem(record._id)"></actions>
        </span>
      </a-table>
    </div>
  
  </div>