<template>
  <a-breadcrumb>
    <a-breadcrumb-item v-for="(item, index) in breadcrumbs" :key="index">
      <router-link v-if="item.route" :to="{name: item.route}">{{ item.name }}</router-link>
      <span v-else>{{ item.name }}</span>
    </a-breadcrumb-item>
  </a-breadcrumb>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({})
export default class Breadcrumb extends Vue {
  get breadcrumbs() {
    return this.$store.state.breadcrumbs;
  }
}
</script>

<style lang="less">
.ant-breadcrumb {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px 32px !important;
  margin-top: 5px !important;
}
</style>
