.category-tree.ant-tree {
    li {
        .ant-tree-node-content-wrapper {
            min-width: 200px;
            background-color: #1890ff;
            color: #fff;
            border-radius: 5px;
            padding: 1px 10px;
            height: auto;
            font-weight: 600;
            &:hover {
                background-color: #73bbff;
            }
            &.ant-tree-node-selected {
                background-color: #00396f;
            }
        }
        &.drag-over-gap-bottom {
            >span[draggable] {
                border-bottom-color: #f5222d;
            }
        }
        &.drag-over-gap-top {
            >span[draggable] {
                border-top-color: #f5222d;
            }
        }
    }
}

.category-page {
    .action-buttons {
        button {
            width: 100%;
        }
    }
    .ant-alert-message {
        font-weight: 700;
    }
}