.input-slug{
    .ant-input-group-addon{
        padding:0;
    }
    .generateSlug{
        padding: 5px 10px;
        &:hover{
            cursor:pointer;
            background-color:@lightblue;
        }
    }
}
.create-modal{
    width:90%!important;
}