.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.header-index-right {
    float: right;
    height: 64px;
    overflow: hidden;
}

.add-resource {
    display: table;
    margin-left: auto;
    text-align: right;
    margin-bottom: 15px;
}

.box {
    background: #fff;
    padding: 16px;
}

.width-100 {
    width: 100% !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}

.action-edit {}

.action-delete {
    color: @red;
    margin-left: 1rem;
    &:hover {
        color: @red;
    }
}

.choose-file-modal {
    width: 95% !important;
}

.choosed-file {
    display: table;
    position: relative;
    .close {
        position: absolute;
        top: -15px;
        right: -15px;
    }
    img {
        max-width: 150px;
    }
    &.multiple {
        display: inline-table;
        margin-right: 20px;
        margin-bottom: 10px;
        img {
            max-width: 70px;
        }
    }
}

.btn-choose-files {
    display: table !important;
    margin-bottom:30px;
}

.table-operations {
    margin-bottom: 16px;
}

.table-operations>button {
    margin-right: 8px;
}

.w80p-modal .animation-content {
    width: 80%
}

.files-page {
    .ant-upload {
        margin-bottom: 1rem;
    }
}

.btn-delete {
    color: #ff4d4f;
}

.media-tree {
    margin-top: 20px;
}

.ant-upload {
    margin-bottom: 1rem;
}

.btn-success {
    &:not([disabled]) {
        background-color: #52c41a;
        border-color: #52c41a;
        &:hover {
            background-color: #63d52b;
            border-color: #63d52b;
        }
    }
}