.login-page {
    background-color: #f0f2f5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form{
        max-width:400px;
        width:80vw;
    }
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        width: 100%;
        margin-top:1rem;
    }
    h1{
        text-align: center;
        font-weight: 700;
        color: #1890ff;
        border-bottom: 1px @lightgray solid;
        padding-bottom:.5rem;
    }
    h2{
        text-align:center;
    }
}

.register-page{

    .ant-form-item{
        margin-bottom:.5rem;
    }

}