@import 'global.less';
@import 'variables.less';
@import 'forms.less';
@import 'login.less';
@import 'category_tree.less';

.layout-transition {
  &-enter {
    opacity: 0;
    transform: translateX(5%);
  }

  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s, transform 0.3s;
  }
}
