<div class="login-page register-page">
    <div class="box">
        <h1>ERIBU</h1>
        <h2><b>Rejestracja</b></h2>
        <a-form :form="form" class="login-form register-form">
            <a-form-item label="Firstname">
                <a-input v-decorator="formData.firstname" placeholder="Please input your firstname" />
            </a-form-item>
            <a-form-item label="Lastname">
                <a-input v-decorator="formData.lastname" placeholder="Please input your lastname" />
            </a-form-item>
            <a-form-item label="Email">
                <a-input type="email" v-decorator="formData.email" placeholder="Please input your email" />
            </a-form-item>
            <a-form-item label="Password">
                <a-input type="password" v-decorator="formData.password" placeholder="Please input your password" />
            </a-form-item>
            <a-form-item label="Password confirm">
                <a-input type="password" v-decorator="formData.password_confirm"
                    placeholder="Please confirm your password" @blur="handleConfirmBlur" />
            </a-form-item>
            <a-form-item>
                <a-button type="primary" @click.prevent="submit" class="login-form-button">Register</a-button>
                <router-link :to="{name: 'login'}">Log in</router-link>
            </a-form-item>
        </a-form>
    </div>
</div>